@import "tailwindcss";

.container-background {
  background-image: url(/tp_table.jpg);
  background-color: rgba(235, 235, 235, 0.95);
  background-blend-mode: lighten;
  background-attachment: fixed;
}

.text-gold {
  @apply text-yellow-300;
}

.text-silver {
  @apply text-zinc-400;
}

.text-bronze {
  @apply text-amber-800;
}

.success {
  @apply bg-lime-600 text-zinc-800;
}

.failure {
  @apply bg-red-600 text-zinc-800;
}

.outline-success {
  @apply outline-lime-600;
}

.text-success {
  @apply text-lime-600;
}

.text-failure {
  @apply text-red-600;
}

.outline-failure {
  @apply outline-red-600;
}

.text-smoll {
  @apply text-xs md:text-base;
}

.text-normal {
  @apply text-lg md:text-xl;
}

.text-large {
  @apply text-xl md:text-2xl;
}

.text-biig {
  @apply text-2xl md:text-3xl;
}

.primary {
  @apply bg-lime-300 text-zinc-800;
}

.primary-light {
  @apply bg-lime-200 text-zinc-800;
}

.primary-transparent {
  @apply bg-lime-300/5 text-zinc-800;
}

.secondary-transparent {
  @apply bg-zinc-800/5 text-zinc-100;
}

.hover-primary {
  @apply hover:bg-lime-300 hover:text-zinc-800;
}

.primary-text {
  @apply text-lime-300;
}

.secondary-root {
  @apply bg-zinc-100 text-zinc-800;
}

.secondary-no-mode {
  @apply bg-zinc-800 text-zinc-100;
}

.secondary {
  @apply bg-zinc-800 text-zinc-100;
}

.secondary-light {
  @apply bg-linear-to-bl from-zinc-100 to-zinc-300 text-zinc-800;
}

.secondary-lighter {
  @apply bg-zinc-100 text-zinc-800;
}

.secondary-text {
  @apply text-zinc-800;
}

.secondary-text-light {
  @apply text-zinc-600;
}

.secondary-text-lighter {
  @apply text-zinc-400;
}

.secondary-border {
  @apply border border-zinc-400;
}

.primary-border-color {
  @apply border-lime-400;
}

/* @media (prefers-color-scheme: dark) { */
  .container-background {
    background-image: url(/tp_table.jpg);
    background-color: rgba(0, 0, 0, 0.95);
    background-blend-mode: darken;
  }

  .primary-transparent {
    @apply bg-lime-300/2 text-zinc-800;
  }

  .secondary-transparent {
    @apply bg-zinc-100/6 text-zinc-100;
  }

  .secondary-dark {
    @apply bg-zinc-800 text-zinc-100;
  }

  .primary-border-color {
    @apply border-lime-600;
  }

  .success {
    @apply bg-lime-900 text-zinc-100;
  }

  .failure {
    @apply bg-red-900 text-zinc-100;
  }

  .text-success {
    @apply text-lime-700;
  }

  .text-failure {
    @apply text-red-700;
  }

  .outline-success {
    @apply outline-lime-900;
  }

  .outline-failure {
    @apply outline-red-900;
  }

  .secondary-root {
    @apply bg-zinc-800 text-zinc-100;
  }

  .secondary {
    @apply bg-zinc-900 text-zinc-100;
  }

  .secondary-light {
    @apply bg-linear-to-bl from-zinc-700 to-zinc-800 text-zinc-100;
  }

  .secondary-lighter {
    @apply bg-zinc-700 text-zinc-100;
  }

  .secondary-text {
    @apply text-zinc-100;
  }

  .secondary-text-light {
    @apply text-zinc-300;
  }

  .secondary-text-lighter {
    @apply text-zinc-400;
  }

  .secondary-border {
    @apply border-t-5 border-lime-800;
  }
/* } */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #faab00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f8c65b;
}
